* {
    font-family: Cambria, Cochin, Goergia, Times, 'Time New Roman', serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    max-width: 100%;

}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 0;
}

nav {
    display: flex;
    font-display: row;
    justify-content: space-between;
    max-width: 100%;
    top: 0px;
    position: fixed;
    background-color: black;
    height: 60px;

}

.nav-container {
    display: flex;
    font-display: row;
    justify-content: space-between;
    width: 100%;
}

.navbar-brand {
    display: flex;
    font-display: colum;
    justify-content: center;
    margin-left: 5%;
    align-items: center;
}

.navbar-list {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 60%;
}

.nav-item {
    width: 100%;
    height: 100%;
    margin: 10px;
}

a {
    text-decoration: none;
    color: white;

}

a:hover {
    color: rgb(218, 64, 218);
    font-style: italic;
    font-size: 18px;
}

.background {
    z-index: -1;
    width: 100%;
    position: fixed;
    margin-top: -100px;
}

.show-feat {
    z-index: 1;
    height: 11em;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    font-size: 4em;

    text-shadow: -1px 1px 2px black,
        1px 1px 0 black,
        1px -1px 0 black,
        -1px -1px 0 black;
}

.artist-header {
    background-color: black;
    color: white;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100px;
    background: linear-gradient(to bottom, rgba(255, 255, 255)0%, rgb(0, 0, 0)40%);
    align-items: flex-end;
}

.main-tile-dimension {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    padding-bottom: 20px;
}

.img-container-artist {
    height: px;
    width: 100%;
}

.img-container-artist img {
    width: inherit;
    height: inherit;
}

.artist-socials {}

.artist {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    flex-grow: 1;
    background-color: black;
}

.local-concerts {
    color: white;
    margin-top: 5%;

}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}

.concert-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    text-shadow: 1px 1px 2px black,
        -1px -1px 0 black,
        -1px 1px 0 black;
}

td, th {
    border: 1px solid white;
    text-align: left;
    padding: 8px;
}

th {
    font-weight: 900;
    text-decoration: underline;
}

.wrap-container {
    display: flex;
    font-display: row;
    justify-content: center;
    margin: 5% 0%;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-gap: 60px;
}

.grid-img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    border-radius: 6px;
}

.box {
    height: auto;
}

.grid-text {
    text-align: center;
}

.bottom {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    margin-bottom: 20px;
    justify-content: space-evenly
}

.map {
    width: 250px;
    padding: 2%;
    padding-left: 100px;
}

.map-img {
    width: 250px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: .6em;
}

.footer-shows{
    display: flex;
    flex-direction: column;
    width: 25%;
    font: .6em;
}

.footer-head {
    font-size: 2em;
}

.socials {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
}

